@using IntegratedFlghtDynamicSystem.Areas.Default.ViewModels
@model MassInertialCharactViewModel

@{
    ViewBag.Title = "Подтверждение удаления";
    Layout = "~/Areas/Default/Views/Shared/_SpCrLayout.cshtml";
    var viewModel = (MainSpacecraftLayoutViewModel)ViewData["MainSpacecraftLayoutViewModel"];
}

@section Title
{
    <h1>Подтверждение удаления МИХ</h1>
}
@section Reference
{
    <li><a href="@Url.Action("Index",@viewModel.CotrollerName, new { id = Session["SpCrId"] })"><i class="fa fa-dashboard"></i>Главная</a></li>
    <li class="active"><i class="fa fa-edit"></i>Удаление МИХ</li>
}

<section class="section">
    <div class="row">
        <div class="col-lg-offset-1 col-lg-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-weibo"></i>&nbsp;Массо-инерционные характеристики</h3>
                </div>
                <div class="panel-body">
                    <div class="table">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th><i class="fa fa-list"></i>Поле </th>
                                    <th><i class="fa fa-edit"></i>Значение</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(m => m.Mass)</strong></td>
                                    <td>@Html.DisplayTextFor(m => m.Mass)</td>
                                </tr>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(m => m.Sbal)</strong></td>
                                    <td>@Html.DisplayTextFor(m => m.Sbal)</td>
                                </tr>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(m => m.XT)</strong></td>
                                    <td>@Html.DisplayTextFor(m => m.XT)</td>
                                </tr>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(m => m.YT)</strong></td>
                                    <td>@Html.DisplayTextFor(m => m.YT)</td>
                                </tr>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(m => m.ZT)</strong></td>
                                    <td>@Html.DisplayTextFor(m => m.ZT)</td>
                                </tr>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(m => m.DateOfID)</strong></td>
                                    <td>@Html.DisplayTextFor(m => m.DateOfID)</td>
                                </tr>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(m => m.Liter)</strong></td>
                                    <td>@Html.DisplayTextFor(m => m.Liter)</td>
                                </tr>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(m => m.Comment)</strong></td>
                                    <td>@Html.DisplayTextFor(m => m.Comment)</td>
                                </tr>
                            </tbody>

                        </table>
                        <div class="text-center form-inline">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.ID_MIC, new { @name = "id" })
                                <input type="submit" class="btn btn-danger" value="Удалить" />
                                @Html.ActionLink("На главную", "Index",@viewModel.CotrollerName, new { id = Session["SpCrId"] }, new { @class = "btn btn-default" })
                            }
                        </div>
                        @if (ViewBag.Error != null)
                        {
                            <div class="alert alert-dismissable alert-danger">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Ошибка!</strong> @ViewBag.Error
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
