@using IntegratedFlghtDynamicSystem.Areas.Default.ViewModels
@model SpacecraftViewModel

@{
    ViewBag.Title = "ISSInitialData";
    Layout = "~/Areas/Default/Views/Shared/_SpCrLayout.cshtml";
    var viewModel = (MainSpacecraftLayoutViewModel)ViewData["MainSpacecraftLayoutViewModel"];
}

@section Title
{
    <h1>@Model.SpacecraftName <small>Исходные данные</small></h1>
}

@section Reference
{
    <li class="active"><i class="fa fa-dashboard"></i>&nbsp;Главная</li>
}

<section class="section">
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10" id="spcr-init-data">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-info"></i>&nbsp;Информация о КА</h3>
                </div>
                <div class="panel-body">
                    <div class="table">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th><i class="fa fa-list"></i>Поле </th>
                                    <th><i class="fa fa-edit"></i>Значение</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(m => m.SpacecraftNumber)</strong></td>
                                    <td>@Model.SpacecraftNumber</td> 
                                </tr>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(m => m.InternationalNumber)</strong></td>
                                    <td>@Model.InternationalNumber</td> 
                                </tr>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(m => m.SpacecraftType)</strong></td>
                                    <td>@Model.SpacecraftType</td> 
                                </tr>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(m => m.OrbitType)</strong></td>
                                    <td>@Model.OrbitType</td> 
                                </tr>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(m => m.Launcher)</strong></td>
                                    <td>@Model.Launcher</td> 
                                </tr>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(m => m.DateOfLaunch)</strong></td>
                                    <td>@Model.DateOfLaunch</td> 
                                </tr>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(m => m.MassInerCharacteristicId)</strong></td>
                                    <td><a href="@Url.Action("MassInertialCharachteristic",@viewModel.CotrollerName, new {id = @Model.MassInerCharacteristicId})">@Model.MassInerCharacteristicId</a></td> 
                                </tr>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(m => m.Comments)</strong></td>
                                    <td>@Model.Comments</td> 
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-right">
                            <a href="@Url.Action("MassInertialCharachteristic",@viewModel.CotrollerName, new {id = @Model.MassInerCharacteristicId})">Управлние МИХами 
                                <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="mic-container">
        </div>
    </div>
</section>

@section Scripts
{
    @Scripts.Render("~/Scripts/spCrInitialData")

}
