@using IntegratedFlghtDynamicSystem.Areas.Default.ViewModels

@{
    ViewBag.Title = "AddMic";
    Layout = "~/Areas/Default/Views/Shared/_SpCrLayout.cshtml";
    var viewModel = (MainSpacecraftLayoutViewModel)ViewData["MainSpacecraftLayoutViewModel"];
}

@section Title
{
    <h1>Добавление нового двигателя</h1>
}
@section Reference
{
    <li><a href="@Url.Action("Index",@viewModel.CotrollerName, new { id = Session["SpCrId"] })"><i class="fa fa-dashboard"></i>Главная</a></li>
    <li class="active"><i class="fa fa-edit"></i>Редактировать данные о ДУ </li>
}

@Html.Action("DeleteEngine","Engine", new {id = ViewBag.EngineId})


<section>
    <div class="row">
        <div class="col-lg-offset-1 col-lg-5">
            <div class="alert alert-dismissable alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong><a href="@Url.Action("Index", viewModel.CotrollerName, new {id = @Session["SpCrId"]})">Вернуться назад!</a></strong>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    @Scripts.Render("~/Scripts/addData")
}